/.git
/.idea
*.log
*.DS_Store
/main/runtime/cache
/main/runtime/log
/main/runtime/session
/main/runtime/temp
/main/public/install.lock
/main/public/uploads
/main/runtime/timer.pid
/main/runtime/workerman.pid
/template/admin/dist/
/template/admin/.idea/
/template/admin/node_modules/
/template/uni-app/node_modules/
/template/uni-app/unpackage/
/template/uni-app/.hbuilderx/
/main/.idea/